
body{
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(#3a1c71 , #d76d77,  #ffaf7b);
    
  }

  form {
    display: flex;
    flex-direction: column;
    
  }

  img {
    width: 200px;
  }

  #password {
    height: 30px;
    text-align: center;
  }

  #go {
    height: 30px;
    background-image: linear-gradient(to right, #42275a, #734b6d);
    color: white;
  }

  #go:hover {
    background: black;
  }
  
  .item {
    margin-top: 30px;
    border-radius: 20px;
    border-style: none;
  }


